@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DM+Sans:wght@400;500&family=Hind+Siliguri:wght@300&family=Kavoon&family=Lato:wght@300;400&family=Poppins&family=Raleway:ital,wght@0,100;0,400;0,500;1,300&family=Roboto:wght@300;400&display=swap');

:root {
    --bg: #CCCCFF;
    --colour: #2B2E63;
    --font: 'Poppins', sans-serif;
}

html,body{
    overflow-x: hidden;
}

.nav {
    font-size: 16px;
    width: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: end;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

.navbar_closed {
    display: none;
}

.nav a{
    padding: 20px 15px 20px 10px;
    color: rgb(20, 19, 19);
    cursor: pointer;
    font-family: var(--font);
    text-decoration: none;
}

.nav a:hover {
    color: rgb(63, 80, 90);
}

.menu_btn {
    display: none;
}

.home_section {
    background-color: var(--bg);
    color: var(--colour);
    height: 500px;
    padding-left: 300px;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
}

.home_section_img img{
    margin-left: 170px;
    margin-top: 50px;
    border-radius: 55% 45% 68% 32% / 36% 33% 67% 64%;
}

.intro {
    font-size: 40px;
    font-family: var(--font);
}

.work {
    margin-top: 10px;
    font-size: 28px;
    font-family: var(--font);
}

.clg {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: var(--font);
}

.lnk a {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 12px;
    background-color: #2B2E63;
    color: #dbe9ec;
    font-family: var(--font);
}

.lnk HashLink {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 12px;
    background-color: #2B2E63;
    color: #dbe9ec;
    font-family: var(--font);
}

.lnk a:hover {
    background-color: #1b1d3e;
    cursor: pointer;
}

.home_section a {
    text-decoration: none;
}

.profile_links {
    margin-top: 20px;
}

.profile_links a {
    font-size: 24px;
    padding-right: 10px;
    color: #2B2E63;
}

.about_section {
    font-family: var(--font);
    font-size: 28px;
    background-color: var(--bg);
    color: var(--colour);
    height: 250px;
}

.about_me {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.about_title {
    font-size: 28px;
    color: var(--colour);
    margin-bottom: 20px;
    padding-top: 80px;
}

.edu_section {
    font-family: var(--font);
    font-size: 28px;
    background-color: var(--bg);
    color: var(--colour);
    height: 600px;
}

.edu_title {
    font-size: 28px;
    color: var(--colour);
    margin-bottom: 20px;
    padding-top: 80px;
}

.edu_info {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
  
.edu_info::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--colour);
    top: 0;
    bottom: 0;
    left: 35%;
    margin-left: -2px;
}

.edu_box  {
    position: relative;
    width: 360px;
    background-color: inherit;
    padding: 10px 40px;
    margin-top: 20px;
    margin-left: 8px;
    left: 35%
}

.edu_box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -16px;
    background-color: var(--colour);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.edu_box::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--colour);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--colour) transparent transparent;
}

.edu_content {
    padding: 10px 20px;
    background-color: var(--colour);
    color: #dbe9ec;
    font-size: 16px;
    position: relative;
    border-radius: 6px;
}

.skill_section {
    height: 450px;
    background-color: var(--bg);
    font-family: var(--font);
}

.skill_topic {
    font-size: 28px;
    color: var(--colour);
    margin-bottom: 20px;
    padding-top: 80px;
}

.skill_accordian {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill_item {
    background-color: var(--colour);
    color: #dbe9ec;
    padding: 25px;
    margin-left: 30px;
    border-radius: 6px;
    height: 250px;
    width: 200px;
    box-shadow: #1b1d3e 0px 4px 10px;
}

.skill_item:hover{
    background-color: #1b1d3e;
}

.skill_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
}

.skill_content {
    max-height: 0px;
    display: none;
}

.skill_show {
    margin-left: 10px;
    margin-top: 10px;
    color: #dbe9ec;
    height: auto;
    max-height: 500px;
}

.skill_show li {
    margin-left: 10px;
    list-style-type: circle;
    display: list-item;
}

.project_section {
    background-color: var(--bg);
    font-family: var(--font);
    height: 600px;
}

.project_title {
    font-size: 28px;
    color: var(--colour);
    padding-top: 80px;
}

.project_section_box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_item {
    width: 450px;
    margin-left: 40px;
    margin-right: 40px;
}

.project_image img {
    border-radius: 10px;
    margin-bottom: 5px;
}

.project_name {
    font-size: 20px;
    margin-bottom: 5px;
}

.project_about {
    margin-bottom: 5px;
}

.contact_section {
    background-color: var(--bg);
    font-family: var(--font);
    height: 800px;
}

.contact_title {
    font-size: 28px;
    color: var(--colour);
    margin-bottom: 80px;
    padding-top: 80px;
}

.contact_form_section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly
}

.contact_form_left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--colour);
}

.contact_form_left a{
    font-size: 28px;
    text-decoration: none;
    color: #13142c;
}

.contact_form_right {
    background-color: var(--colour);
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
}

.contact_form_right input {
    margin-bottom: 20px;
    height: 20px;
    width: 220px;
    border: none;
    border-radius: 6px;
    padding: 5px;
}

.contact_form_right label {
    font-size: 18px;
    color: #dbe9ec;
    margin-bottom: 5px;
}

.contact_form_right textarea {
    width: 220px;
    height: 120px;
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 20px;
}

.contact_form_right button {
    width: 230px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #13142c;
    opacity: 0.9;
    border: none;
    color: #dbe9ec;
}

.contact_form_right button:hover {
    background-color: #06060f;
}

.footer_section {
    height: 200px;
    background-color: var(--colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bg);
}

.src_code {
    margin-bottom: 10px;
}

.src_code a {
    color: var(--bg);
}

.top a {
    color: var(--bg);
}

@media screen and (max-width: 800px) {

    .nav-stick {
        background-color: var(--bg);
        height: 30px;
        width: 100vw;
        position: fixed;
        z-index: 1000;
    }

    .menu_btn {
        display: block;
        float: right;
        font-size: 20px;
    }

    .nav {
        display: none;
    }

    .navbar_expand {
        background: var(--colour);
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        transition: 350ms;
        z-index: 10;
        top: 0;
        left: 0;
        z-index: 100;
        -webkit-transition : 1s ease-in-out;
        transition : 1s ease-in-out;
    }

    .navbar_expand a {
        color: var(--bg);
        font-size: 20px;
        text-decoration: none;
        border-bottom: 1px solid var(--bg);
        margin-bottom: 5px;
    }

    .navbar_closed {
      display: none;
    }

    .x_design {
        color: var(--bg);
        font-size: 20px;
        align-self: flex-end;
    }
    
    .home_section {
        height: 680px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        display: flex;
        flex-direction: column-reverse;
    }

    .home_section_img img{
        margin-left: 0px;
        border-radius: 46% 54% 68% 32% / 39% 34% 66% 61%;
        margin-top: 0px;
        height: 200px;
        width: 200px;
    }

    .lnk a {
        font-size: 16px;
        margin-top: 10px;
    }
    
    .lnk HashLink {
        font-size: 16px;
    }

    .intro {
        margin-top: 5px;
        font-size: 30px;
    }
    
    .work {
        margin-top: 0px;
        font-size: 22px;
    }
    
    .clg {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: var(--font);
    }

    .profile_links {
        margin-top: 10px;
    }

    .about_section{
        height: 400px;
    }

    .about_me {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .edu_section {
        height: 700px;
    }

    .edu_info::after {
        left: 20px;
    }
    
    .edu_box  {
        left: 20px;
    }
    
    .edu_box::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: -16px;
        background-color: var(--colour);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    .edu_box::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 3px;
        border: medium solid var(--colour);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--colour) transparent transparent;
    }

    .edu_content {
        left: -28px;
        width: 220px;
    }

    .skill_section {
        height: 1100px;
    }

    .skill_accordian {
        display: flex;
        flex-direction: column;
    }

    .skill_item {
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .project_section {
        height: 900px;
    }

    .project_section_box {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .project_item {
        width: 100vw;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    
    .project_image img {
        width: 300px;
        height: 170px;
        border-radius: 6px;
        margin-bottom: 5px;
    }
    
    .project_name {
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    .project_about {
        margin-bottom: 5px;
    }

    .contact_section {
        height: 900px;
    }

    .contact_form_section {
        display: flex;
        flex-direction: column;
    }

    .contact_title {
        margin-bottom: 30px;
    }

    .contact_form_left {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .contact_form_right {
        background-color: var(--colour);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px 6px 20px 20px;
        width: 250px;
        align-self: center;
    }

    .footer_section {
        height: 150px;
    }
}